include ./counter/counter
include ../text-field/text-field
include ../button/button

mixin dropdown(dropdown)
    -
        const uniqid = require('uniqid');
        const id = uniqid();

        const {
            label,
            name,
            placeholder,
            title,
            ariaLabel,
            disabled=false,
            required=false,
            expanded=false,
            autoApply=false,
            counterList
        } = dropdown;

    div(class = expanded ? 'dropdown dropdown_expanded js-dropdown' : 'dropdown js-dropdown', data-auto-apply = autoApply)
        +text-field({
            label,
            name,
            placeholder,
            disabled,
            required,
            title,
            ariaLabel,
            type: 'button',
            ariaExpanded: `${expanded}`,
            ariaControls: `counter-list-${id}`,
            controlClass: 'js-dropdown__text-field',
            input: {
                activeClass: 'dropdown__button',
                controlClass: 'js-dropdown__button'
            },
            icon: {
                icon: '_icon-expand_more',
                activeClass: 'dropdown__icon'
            }
        })
        .dropdown__viewport 
            .dropdown__container.js-dropdown__container 
                ul.dropdown__counters-list(id = `counters-list-${id}`)
                    each item in counterList
                        li.dropdown__counters-list-item
                            +counter(item)

                if !autoApply
                    .dropdown__control-panel 
                        +button({
                            type: 'button',
                            label: 'Очистить',
                            link: true,
                            color: 'purple',
                            controlClass: 'js-dropdown__clear-button'
                        })
                        +button({
                            type: 'button',
                            label: 'Применить',
                            link: true,
                            color: 'purple',
                            controlClass: 'js-dropdown__apply-button'
                        })