mixin pie-chart()
    -
        const pluralize = require('./../../globals/helpers/pluralize.js');
        const uniqid = require('uniqid');
        const id = uniqid();
        const labelList = [ 'Разочарован', 'Удовлетворительно', 'Хорошо', 'Восхитительно' ];
        const colorList = [ '#919191', '#BC9CFF', '#6FCF97', '#FFE39C' ];
        const countList = [ 0, 65, 65, 130 ];
        const sumCount = countList.reduce((sum, item) => sum += item, 0);

    .pie-chart.js-pie-chart(data-counts=countList data-labels=labelList data-colors=colorList)
        .pie-chart__container.js-pie-chart__container
            canvas.pie-chart__canvas.js-pie-chart__canvas(role ='img' aria-labelledby=`pie-chart-label-${id}` id='myChart' width='120px' height='120px')
            p.pie-chart__label(id = `pie-chart-label-${id}`) 
                span.pie-chart__number #{sumCount}
                | #{pluralize({'one': 'Голос', 'few': 'Голоса', 'many': 'Голосов'}, sumCount)}
        dl.pie-chart__legend
            each item, index in labelList
                dt.pie-chart__legend-item(style = `--chart-color: ${colorList[index]}`) #{item}
                dd.pie-chart__legend-number.visually-hidden