include ./rate-button/rate-button

mixin rate-bar(rateBar)
    -
        const pluralize = require('../../globals/helpers/pluralize.js');
        const {
            name,
            count,
            rating,
            disabled,
        } = rateBar;

    fieldset.rating
        .rating__rate-bar(
            role = 'radiogroup',
            aria-label = `Рейтинг: ${rating} из ${count} ${pluralize({'one': 'звезды', 'few': 'звёзд', 'many': 'звёзд'}, count)}`)

            - let index = 0;
            while index < count
                -
                    let checked = false;
                    index++;
            
                    if (index === rating) { checked = true; }
                +rate-button({
                    name, 
                    disabled, 
                    checked,
                    value: index, 
                    title: `${index} ${pluralize({'one': 'звезда', 'few': 'звезды', 'many': 'звёзд'}, index)}`,
                    ariaLabel: `${index} ${pluralize({'one': 'звезда', 'few': 'звезды', 'many': 'звёзд'}, index)}`
                    })