mixin checkbox(checkbox)
    -
        const uniqid = require('uniqid');
        const id = uniqid();
        const {
            label,
            title,
            description,
            checked=false,
            disabled=false
        } = checkbox;

    label.checkbox
        input.checkbox__input(
            type = 'checkbox'
            title = title ? title : false 
            checked = checked ? true : false 
            disabled = disabled ? true : false
        )

        if description 
            b.checkbox__label(id = `checkbox-label-${id}`) !{label}
            p.checkbox__description(id = `checkbox-description-${id}`) !{description}

        else 
            span.checkbox__label !{label}