mixin input(cls= 'button', type= 'submit', value= '', autocomplete= 'off', name= 'email', onfocus= '', id= '')
    input.input(class= `${cls}` type=`${type}` value=`${value}` autocomplete=`${autocomplete}` name= `${name}` onfocus= `${onfocus}` id= `${id}`)